GP/midterm
GP/final
PD/Analyzing the Apartment market in Sofia, Bulgaria.ipynb
PD/Analyzing the Apartment market in Sofia, Bulgaria.pdf
PD/Project_PWD.zip
DNW/mid-term 2.zip
DNW/mid-term.zip
DNW/mid-term/**
DNW/smarthome.sql
OOP/Advisorbot.zip
OOP/Advisorbot/**